$color-main-background: #e2e2e2;
$color-header-background: #f7f7f7;

$color-fly-out-header-fill: #662d91;
$color-fly-out-background: #efefef;

$color-text-accent: #662d91;

$color-button: #f7f7f7;
$color-button-border: #f7f7f7;
$color-button-text: #662d91;
$color-button-alt: #f7f7f7;
$color-button-border-alt: #f7f7f7;
$color-button-text-alt: #656565;

$color-toast-background-success: #00b69a;
$color-toast-border-success: #00e9a3;
$color-toast-text-success: #ffffff;

$color-toast-background-warning: #e3a620;
$color-toast-border-warning: #fdc95a;
$color-toast-text-warning: #ffffff;

$color-toast-background-error: #ea5a5a;
$color-toast-border-error: #ff8282;
$color-toast-text-error: #ffffff;

$color-sidecar-display-border: #bdbdbd;

$color-help-group-background: #662d91;
$color-help-group: #ffffff;
$color-help-item-background: #662d9133;

$font-family-oswald: "Oswald", sans-serif;
$font-family-roboto: "Roboto", sans-serif;
$font-family-roboto-mono: "Roboto", sans-serif;
