media-controller omakase-dropdown omakase-dropdown-list[type='checkbox'] omakase-dropdown-option.active .omakase-dropdown-option-icon {
  background-image: url(/assets/images/omakase-player/media-chrome-checkbox-on.svg);
}
media-controller omakase-dropdown omakase-dropdown-list[type='radio'] omakase-dropdown-option.active .omakase-dropdown-option-icon {
  background-image: url(/assets/images/omakase-player/media-chrome-radio-on.svg);
}
media-controller omakase-dropdown-toggle.active .media-chrome-audio-text {
  background-image: url(/assets/images/omakase-player/media-chrome-audio-text-on.svg);
}

media-controller omakase-dropdown-toggle.active .media-chrome-audio {
  background-image: url(/assets/images/omakase-player/media-chrome-audio-on.svg);
}
.omakase-help .omakase-help-dropdown .omakase-help-menu .omakase-help-group-title {
  background: #662d91;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
}
.omakase-help .omakase-help-dropdown .omakase-help-menu .omakase-help-group {
  background: #662d91 33;
  border-radius: 3px;
}
.omakase-help .omakase-help-dropdown .omakase-help-menu .omakase-help-group .omakase-help-item {
  border-bottom: 1px solid #662d91;
}
.omakase-help .omakase-help-dropdown .omakase-help-menu .omakase-help-group .omakase-help-item:hover {
  background: #662d91;
  color: #fff;
}

media-controller omakase-router-visualization .omakase-router-container.size-medium .omakase-router-toggle.active .omakase-router-toggle-inner {
  background-color: #9159ba;
}

media-controller omakase-router-visualization .omakase-router-container.size-medium .omakase-router-toggle.active {
  border-color: #c8a3e2;
}

media-controller omakase-router-visualization .omakase-router-container.size-medium .omakase-router-toggle {
  border: 3px solid #eeeeee;
}

media-controller omakase-router-visualization .omakase-router-container.size-medium .omakase-router-toggle .omakase-router-toggle-inner {
  background-color: #333333;
}

media-controller.media-controller-omakase .media-chrome-router-changed {
  background-image: url(/assets/images/omakase-player/media-chrome-router-changed-square.svg);
}

media-controller .media-chrome-router-changed {
  background-image: url(/assets/images/omakase-player/media-chrome-router-changed.svg);

  -webkit-filter: drop-shadow(0 0 3px #c8a3e2);
  filter: drop-shadow(0 0 3px #c8a3e2);
}

